doctype html
html
	head
		body
			p Add a new user
			form(method='POST' action='/addMsg')
				input(type='text', placeholder='Title', name='title')
				input(type='text', placeholder='Your Message', name='body')
			p Read all messages