doctype html
html
	body
		p Sign up for our awesome platform
		form(method='POST' action='/addUser')
			input(type='text', placeholder='First name', name='firstname')
			input(type='text', placeholder='Last name', name='lastname')
			input(type='text', placeholder='Email', name='email')
			input(type='submit', value='Create new user')