doctype html
html
	body
		p Sign up for our awesome platform
		form(action='/', method='post')
			input(name='firstname')
			input(name='lastname')
			input(name='email')
			input(type='submit', value='Create new user')