doctype html
html
	head
		style
			include ../style/search.css
		script
			include ../../jquery-3.2.1.min.js
	body
		form(action='/search', method='POST', autocomplete='off')
			p(id="test") Search for a user
			input(type='text', list='suggestion', name='searchfield', id='searchfield')
			datalist(id='suggestion')
				option(value="" id="suggestionOne")
				option(value="" id="suggestionTwo")
			input(type='submit', value="Search")

	script.
		$(document).ready(function (){

			var lastexecution = 0;
			
			var findResults = function () {

				$('#searchfield').keyup(function(){
					
					if(Date.now()>lastexecution+300){
					lastexecution = Date.now();

					$.post('/autocomplete', {input: $('#searchfield').val()}, function(matchedUsers){
							if (matchedUsers[0] !== undefined){
							document.getElementById("suggestionOne").setAttribute("value", matchedUsers[0].firstname+" "+matchedUsers[0].lastname)
							} if (matchedUsers[1] !== undefined){
							document.getElementById("suggestionTwo").setAttribute("value", matchedUsers[1].firstname+" "+matchedUsers[1].lastname)
							}
					});//closing post request
					lastexecution = Date.now();
					console.log("Request got executed last at: "+lastexecution);
					}//closing if statement
				});//closing searchfield keyup
			};//closing findResults
			findResults();
		});//closing document.ready
