doctype html
html
	head
		script
			include ../../jquery-3.2.1.min.js
	body
		form(action='/search', method='POST', autocomplete='off')
			p Search for a user
			input(type='text', list='suggestion', name='searchfield', id='searchfield')
			datalist(id='suggestion')
				option(value="" id="suggestionOne")
				option(value="" id="suggestionTwo")
			input(type='submit', value="Search")

	script.
		$(document).ready(function (){
			var findResults = function () {
				//- var now = Date.now();
				//- var buffer = now + 300;
				$('#searchfield').keyup(function(){
					$.post('/autocomplete', {input: $('#searchfield').val()}, function(matchedUsers){
							if (matchedUsers[0] !== undefined){
							console.log("test")
							document.getElementById("suggestionOne").setAttribute("value", matchedUsers[0].firstname+" "+matchedUsers[0].lastname)
							} if (matchedUsers[1] !== undefined){
							console.log("test2")
							document.getElementById("suggestionTwo").setAttribute("value", matchedUsers[1].firstname+" "+matchedUsers[1].lastname)
							}
					});
				});
			};
			findResults();
		});
