doctype html
html
	body
		p Search for a user:
		form(method='POST' action='/search')
			input(type='text', placeholder='Your name', name='searchfield')
			input(type='submit', value='Search for this user')
